/* *****************************************************************
GENERAL
***************************************************************** */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #363535;
  font-size: 1.6rem;
  line-height: 1.6em;
  margin: 0;
  background-color: #fff;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

h1,
h2,
h3,
nav,
.more,
button {
  font-family: "Economica", sans-serif;
}

/**************************************************************/
/******************** Version Mobile **************************/
/**************************************************************/

@media screen and (min-width: 320px) {
  .container img {
    width: 95%;
    padding: 10px;
  }

  .container h1 {
    font-size: 4rem;
    margin-bottom: 8rem;
    color: #7e4a7c;
    text-align: center;
  }

  .about h3 {
    margin-bottom: 6rem;
    font-size: 35px;
    color: #7e4a7c;
    text-align: center;
  }

  .chapo {
    font-style: italic;
    font-weight: bold;
    color: #7e4a7c;
    font-size: 15px;
    text-align: center;
  }

  .about p {
    line-height: 1.4;
    margin: 5rem auto 2rem;
    font-size: 14px;
  }

  /* *****************************************************************
    HEADER
    ***************************************************************** */

  header {
    padding-top: 5rem;
    text-align: center;
    border-top: 5px solid #7e4a7c;
  }

  header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #7e4a7c;
    list-style: none;
    padding: 2rem 0;
    margin: 3rem 0 10rem 0;
  }

  header nav a {
    font-size: 4rem;
    width: 100%;
    height: 8rem;
    padding: 2rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 15px auto;
    background: #8a508a;
    text-align: center;
    border-radius: 10px;
  }

  header nav a:hover,
  header nav a:focus {
    background-color: #fff;
    color: #7e4a7c;
  }

  /* *****************************************************************
    MAIN
    ***************************************************************** */

  .about {
    display: flex;
    margin: 5rem 0;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
  .about h2 {
    margin-bottom: 9rem;
    font-size: 6rem;
    color: #b878b5;
    text-align: center;
  }

  .about img {
    margin: 2rem;
    width: 95%;
    border-radius: 10px;
  }

  .about article {
    width: 90%;
  }

  aside {
    width: 95%;
    margin-top: 8rem;
    font-size: 30px;
    line-height: 1.6;
  }

  .about ul {
    padding: 3rem;
    list-style: none;
    font-size: 35px;
  }

  .about li {
    display: flex;
  }

  .staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 95%;
  }
  .staff h2 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 10rem;
  }

  /*::before ajoute un contenu dans le html par le css*/

  .about li::before {
    padding-right: 1rem;
    content: url(../img/puce-fleche.png);
  }

  .more {
    background-color: #7e4a7c;
    color: white;
    text-decoration: none;
    font-size: 4rem;
    text-transform: uppercase;
    padding: 25px 20px;
    display: inline-block;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    margin-top: 5rem;
  }

  /******** staff *************/

  .flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
  }
  .flex h3 {
    font-size: 35px;
    text-align: center;
    margin: 0 auto 4rem;
  }

  .flex figure {
    width: 95%;
    border-bottom: 3px solid #7e4a7c;
  }
  .flex p {
    text-align: center;
    margin: 4rem auto;
  }
  .flex .more {
    background-color: #7e4a7c;
    color: white;
    text-decoration: none;
    font-size: 4rem;
    text-transform: uppercase;
    padding: 30px 20px;
    display: inline-block;
    width: 95%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5rem;
  }

  figure img {
    float: left;
    margin-right: 1em;
  }

  /* *****************************************************************
    TABLEAU
    ***************************************************************** */
  .table h2 {
    font-size: 35px;
    text-align: center;
    margin: 4rem auto 5rem;
  }

  table {
    width: 95%;
    margin: 2em auto;
    border-collapse: collapse;
  }

  th {
    background-color: #7e4a7c;
    font-weight: bold;
    color: white;
  }

  th,
  td {
    border: 1px solid #b878b5;
    text-align: center;
    padding: 1.5rem 2rem;
  }

  td:empty {
    background-color: #ffeefe;
  }

  td:first-of-type {
    font-weight: bold;
  }

  /* *****************************************************************
    FORMULAIRE
    ***************************************************************** */
  .contact h2 {
    font-size: 35px;
    text-align: center;
    margin: 6rem auto;
  }
  form {
    color: #7e4a7c;
    border: #7e4a7c 1px solid;
    font-weight: bold;
    padding: 2rem;
  }

  /*fieldset*/
  .trainee,
  .session {
    display: flex;
    justify-content: space-around;
    background-color: #ffeefe;
    border: 0;
    margin-bottom: 2em;
    padding: 3rem 2rem;
  }
  .trainee div {
    width: 50%;
  }
  .session div {
    width: 80%;
  }

  .contact input,
  .contact select {
    width: 45%;
    border: #7e4a7c solid 1px;
    padding: 13px;
    vertical-align: middle;
    border-radius: 10px;
  }
  .days p {
    font-size: 30px;
  }
  .session_choix p {
    font-size: 30px;
  }
  select {
    width: 53%;
    margin-left: 10px;
  }
  /*bouton valider*/
  .submit {
    text-align: center;
  }
  .contact label {
    font-size: 27px;
  }
  .submit button {
    width: 50%;
    border: none;
    background-color: #7e4a7c;
    padding: 2rem;
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
  }

  /* *****************************************************************
    FOOTER
    ***************************************************************** */

  footer {
    background-color: #7e4a7c;
    margin-top: 7rem;
  }
  footer .container {
    color: white;
    padding: 3rem 0;
    text-align: center;
  }
  .reseaux a {
    color: white;
    font-size: 5rem;
    text-decoration: none;
    margin: 0 8rem 2rem;
  }
  .footer {
    padding: 2em;
    text-align: center;
    color: #fff;
    background-color: #444;
    margin: 2rem auto;
  }

  .footer img {
    width: 50px;
  }
  .footer p {
    font-size: 15px;
    text-align: center;
  }
}

/************************************************************ */
/********************Version DESKTOP ************************ */
/************************************************************ */

@media screen and (min-width: 1024px) {
  .container img {
    width: 30%;
  }
  h1 {
    margin-top: 5rem;
    margin-bottom: 8rem;
    font-size: 5rem;
    color: #7e4a7c;
    text-align: center;
  }

  .about h2 {
    font-size: 25px;
    color: #b878b5;
    text-align: justify;
    margin: auto 0 0 30px;
  }

  .about h3 {
    font-size: 30px;
    color: #7e4a7c;
  }

  .chapo {
    font-style: italic;
    font-weight: bold;
    color: #7e4a7c;
  }
  .about p {
    line-height: 1.4;
    margin: 5rem auto 2rem;
    font-size: 16px;
  }
  .more {
    background-color: #7e4a7c;
    color: white;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px 15px;
    display: inline-block;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    margin-top: 5rem;
  }

  .days p {
    font-size: 18px;
    margin: 0 auto 2rem;
    line-height: 1.3;
  }
  .session_choix p {
    font-size: 20px;
  }

  /* *****************************************************************
    HEADER
    ***************************************************************** */

  header {
    padding-top: 5rem;
    text-align: center;
    border-top: 5px solid #7e4a7c;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #7e4a7c;
    list-style: none;
  }

  header nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 25px;
    display: inline-block;
    font-size: 20px;
    width: 100%;
    height: 2rem;
    background: none;
    margin: 0;
  }

  header nav a:hover,
  header nav a:focus {
    background-color: #fff;
    color: #7e4a7c;
  }

  /* *****************************************************************
    MAIN
    ***************************************************************** */

  .about {
    display: flex;
    margin: 5rem 0;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  .about img {
    width: 50%;
    float: left;
    margin-right: 2rem;
  }

  .about article {
    width: 50%;
  }

  aside {
    width: 30%;
    margin-top: 8rem;
  }

  .about ul {
    font-size: 16px;
    padding: 0;
    list-style: none;
  }

  .about li {
    display: flex;
  }

  /*::before ajoute un contenu dans le html par le css*/

  .about li::before {
    padding-right: 1rem;
    content: url(../img/puce-fleche.png);
  }

  .flex .more {
    background-color: #7e4a7c;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    display: inline-block;
    width: 20rem;
    text-align: center;
    border-radius: 10px;
  }

  /******** staff *************/

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex figure {
    width: 47%;
    margin: 0 0 5em 0;
  }

  figure img {
    float: left;
    margin-right: 1em;
  }

  /* *****************************************************************
    TABLEAU
    ***************************************************************** */

  table {
    width: 90%;
    margin: 2em auto;
    border-collapse: collapse;
  }

  th {
    background-color: #7e4a7c;
    font-weight: bold;
    color: white;
  }

  th,
  td {
    border: 1px solid #b878b5;
    text-align: center;
    padding: 1.5rem 2rem;
  }

  td:empty {
    background-color: #ffeefe;
  }

  td:first-of-type {
    font-weight: bold;
  }

  /* *****************************************************************
    FORMULAIRE
    ***************************************************************** */

  form {
    color: #7e4a7c;
    border: #7e4a7c 1px solid;
    font-weight: bold;
    padding: 2rem;
  }

  /*fieldset*/
  .trainee,
  .session {
    display: flex;
    justify-content: space-around;
    background-color: #ffeefe;
    border: 0;
    margin-bottom: 2em;
    padding: 3rem 2rem;
  }
  .trainee div {
    width: 50%;
  }
  .session div {
    width: 30%;
  }

  .contact input,
  .contact select {
    width: 50%;
    border: #7e4a7c solid 1px;
    padding: 0.5rem;
    vertical-align: middle;
    border-radius: 10px;
  }
  .days {
    font-size: 25px;
  }
  select {
    width: 53%;
    margin-left: 10px;
  }
  /*bouton valider*/
  .submit {
    text-align: center;
  }
  .contact label {
    font-size: 18px;
  }
  .submit button {
    width: 20rem;
    border: none;
    background-color: #7e4a7c;
    padding: 5px 2rem;
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
  }

  /* *****************************************************************
    FOOTER
    ***************************************************************** */

  footer {
    background-color: #7e4a7c;
    margin-top: 7rem;
  }
  footer .container {
    color: white;
    padding: 3rem 0;
    text-align: center;
  }
  .reseaux a {
    color: white;
    font-size: 3rem;
    text-decoration: none;
    margin: 0 2rem;
  }
  .footer {
    padding: 2em;
    text-align: center;
    color: #fff;
    background-color: #444;
  }

  .footer img {
    width: 50px;
  }
  .footer a {
    color: white;
  }
}
